#
.DS_Store

# outputs
logs/
wandb/
outputs/
preprocess/
submodules/gtu/*outputs*

# new
*.gz
*.h5
*.bin
*.binary
*.gif
*.safetensors
*.json
*.pkl
*.npz
*.ply
*.npy
*.log
*.wandb
*.ipynb
*.csv
*.obj

*.jpeg
*.mp4
misc/
exp/

*.ckpt
*.pth
*.pt

# origin
*.pyc
.vscode
output
data/
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.pth
*.zip
